<h1 class="text-center page-title">i like to build websites</h1>

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4">
    <section>
        <h2 class="subhead">i'm a frontend developer</h2>
        <p>I write HTML, JavaScript, and SCSS</p>
    </section>

    <section>
        <h2 class="subhead">i'm also a backend developer</h2>
        <p>I design databases and write PHP and SQL</p>
    </section>

    <section>
        <h2 class="subhead">i can develop applications too</h2>
        <p>I write C# and Java</p>
    </section>
</div>