<h1 class="text-center page-title">i'm a cyber polyglot</h1>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <section class="portfolio">
        <h2 class="subhead">PHP</h2>
        <p>
            <a href="https://github.com/JK3Y/XMRchant"><b>XMRchant</b></a> is a Laravel package that helps facilitate easier Monero payment integration for developers. Includes migration tables, a cron job to manage incoming transactions, clean easy-to-read account and payment data, and a facade for easy Laravel 5.5+ integration.
        </p>
    </section>
    <section class="portfolio">
        <h2 class="subhead">JavaScript</h2>
        <p>
            <a href="https://github.com/JK3Y/chatr"><b>Chatr</b></a> is a disposable chat application created using Node, Express, and Socket.io on the backend and jQuery, Bootstrap, and SCSS on the frontend. Chatrooms are created dynamically based on the URL. Hosted on Heroku.</a>
        </p>
        <p>
            <a href="https://github.com/JK3Y/bandcamp-downloader"><b>BandcampDownloader</b></a> is a basic web app used to download all the free tracks from an artist's Bandcamp page. User is able to change ID3 tags and even add album art. Exports the files in a simple zip file. Uses Bootstrap, file-saver, and jszip.
    </section>
    <section class="portfolio">
        <h2 class="subhead">Websites</h2>
        <p>
            This site is made using Angular.JS. I also like to use Bootstrap and mix it up with some Sass.
        </p>
    </section>
</div>