<h1 class="text-center page-title">i'm a cyber polyglot</h1>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <section class="portfolio">
        <h2 class="subhead">PHP</h2>
        <p>
            <img src="src/img/sn_screen.png" /><br />
            <a href="http://sn.jamadoor.com"><b>SN!</b></a> this was a project for my Advanced Application Development class. It's a full-fledged twitter-esque social network. It has jQuery, AJAX functions and photo uploads. Built using PHP and MySQL as the backend.
        </p>
    </section>
    <section class="portfolio">
        <h2 class="subhead">JavaScript</h2>
        <p>
            <img src="src/img/chatr_screen.png" /><br />
            <a href="http://chatr.jamadoor.com"><b>Chatr</b></a> is a disposable chat application created using Node, Express, and Socket.io on the backend and jQuery, Bootstrap, and SCSS on the frontend. Chatrooms are created dynamically based on the URL. Hosted on Heroku.</a>
        </p>
    </section>
    <section class="portfolio">
        <h2 class="subhead">Websites</h2>
        <p>
            This site is made using Angular.JS. I also like to use Bootstrap and mix it up with some Sass.
        </p>
    </section>
    <section class="portfolio">
        <h2 class="subhead">C#</h2>
        <p>
            a work in progress.
        </p>
    </section>
    <section class="portfolio">
        <h2 class="subhead">Java</h2>
        <p>
            a work in progress.
        </p>
    </section>
</div>