<!-- resume.html -->
<h1 class="text-center page-title">experience</h1>
<div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <section>
        <h2 class="resume-title"><strong>Resume</strong></h2>
        <div id="resumepdf">
            <object data="./src/resume.pdf" type="application/pdf" width="100%" height="500px">
                <p>It appears you don\'t have a PDF plugin for this browser.<br /> No biggie... you can <a href="./src/resume.pdf">click here to download the PDF file</a> instead.</p>
            </object>
        </div>
    </section>


    <section>
        <h2 class="resume-title"><strong>Southeast Technical Institute: 2014 - present</strong></h2>
        click the links to see the syllabi.

        <ul>
            <li><a slide-up id="CIS130" class="class" role="button">CIS 130 - Intro to Programming</a></li>
            <div id="CIS130pdf" style="display: none;"></div>

            <li><a slide-up id="CIS195" class="class" role="button">CIS 195 - Internet Programming Essentials</a></li>
            <div id="CIS195pdf" style="display: none;"></div>

            <li><a slide-up id="CIS131" class="class" role="button">CIS 131 - C# Programming</a></li>
            <div id="CIS131pdf" style="display: none;"></div>

            <li><a slide-up id="CIS149" class="class" role="button">CIS 149 - Intro to Java</a></li>
            <div id="CIS149pdf" style="display: none;"></div>

            <li><a slide-up id="CIS194" class="class" role="button">CIS 194 - Intro to Databases</a></li>
            <div id="CIS194pdf" style="display: none;"></div>

            <li><a slide-up id="CIS198" class="class" role="button">CIS 198 - Image and Animation Applications</a></li>
            <div id="CIS198pdf" style="display: none;"></div>

            <li><a slide-up id="CIS207" class="class" role="button">CIS 207 - eBusiness</a></li>
            <div id="CIS207pdf" style="display: none;"></div>

            <li><a slide-up id="CIS236" class="class" role="button">CIS 236 - Intro to Microsoft Web Development</a></li>
            <div id="CIS236pdf" style="display: none;"></div>

            <li><a slide-up id="CIS241" class="class" role="button">CIS 241 - Dynamic Web Development</a></li>
            <div id="CIS241pdf" style="display: none;"></div>

            <li><a slide-up id="CIS249" class="class" role="button">CIS 249 - Advanced Object Oriented Programming</a></li>
            <div id="CIS249pdf" style="display: none;"></div>

            <li><a slide-up id="CIS279" class="class" role="button">CIS 279 - Advanced Databases</a></li>
            <div id="CIS279pdf" style="display: none;"></div>

            <li><a slide-up id="CIS293" class="class" role="button">CIS 293 - Advanced Technologies</a></li>
            <div id="CIS293pdf" style="display: none;"></div>

            <li><a slide-up id="CIS169" class="class" role="button">CIS 169 - Network and OS Fundamentals</a></li>
            <div id="CIS169pdf" style="display: none;"></div>

            <li><a slide-up id="CIS248" class="class" role="button">CIS 248 - Advanced Application Development</a></li>
            <div id="CIS248pdf" style="display: none;"></div>

            <li><a slide-up id="CIS266" class="class" role="button">CIS 266 - Web Services</a></li>
            <div id="CIS266pdf" style="display: none;"></div>

            <li><a slide-up id="CIS296" class="class" role="button">CIS 296 - Advanced Microsoft Web Development</a></li>
            <div id="CIS296pdf" style="display: none;"></div>
        </ul>
    </section>
</div>