<h1 class="text-center page-title">how i do what i do</h1>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <section class="tools">
        <h2 class="subhead">hardware</h2>
        <p>
            I'm accustomed to using all mainstream operating systems, but my Macbook Pro with retina display is my true powerhorse.
        </p>
    </section>

    <section class="tools">
        <h2 class="subhead">software</h2>
        <p>
            I like to use the LAMP stack, and I dabble in the MEAN stack.
        </p>
        <p>
            <a href="https://www.sublimetext.com/">Sublime Text</a> is my preferred text editor. Recently I've been using <a href="https://www.jetbrains.com/webstorm/">WebStorm</a> for all my web development.
        </p>
        <p>
            I use various CLI applications to make life a little bit easier for me:
        <ul>
            <li><a href="http://brew.sh/">Homebrew</a> is my one-stop shop for package updates</li>
            <li><a href="https://www.npmjs.com/">npm</a> for all my node.js package needs</li>
            <li><a href="http://bower.io/">Bower</a> to get all my front-end dependencies</li>
            <!-- <li><a href="http://gulpjs.com/">Gulp</a> so I can streamline all the boring stuff</li> -->
            <li><a href="https://git-scm.com/">Git</a> for use with GitHub</li>
        </ul>
        </p>
        <p>
            Visual Studio 2012 for C# and ASP.NET development.
        </p>
        <p>
            <a href="https://netbeans.org/">Netbeans</a> for Java development.
        </p>
    </section>
</div>